h1 {
  color: rgb(0, 0, 0);
  font-size: 55px;
  margin: 20px 0 0 0;
}
h2 {
  margin: 20px 0 10px 0;
  font-size: 50px;
}
.container {
  margin: 50px auto 10px auto;
  padding: 0;
  text-align: center;
  max-width: 800px;
}
.daylight {
  border-radius: 10px;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/021/403/original/day.jpg?1637491130"),
    #9cdafd;
}
.nightlight {
  border-radius: 10px;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/023/373/original/pexels-min-an-713664.jpg?1640116880"),
    #183a4e;
}
.current-weather-sky:first-letter {
  text-transform: capitalize;
}
.card {
  margin: 20px 0 20px 0;
  padding: 0;
}

#forecast {
  background: #aae0f75b;
  margin: 20px auto 0px auto;
}
.card-subtitle {
  color: #343435;
}
.units {
  font-size: 20px;
}
button {
  margin: 0 5px;
}
.coded-by {
  text-align: center;
  color: #8c8c8d;
}
.active {
  color: rgb(0, 0, 0);
}
.active:hover {
  color: rgb(0, 0, 0);
}
#fahrenheit {
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}
